{% if user %}
<style>pre{white-space:wrap}</style>
<div>Logged in as <strong>{{user}}</strong> (<a href="{{ url_for('.logout') }}">Log Out</a>)</div>

{% for client in clients %}
<pre>
<strong>Client Info</strong>
  {%- for key in client.client_info %}
  <strong>{{ key }}: </strong>{{ client.client_info[key] }}
  {%- endfor %}
<strong>Client Metadata</strong>
  {%- for key in client.client_metadata %}
  <strong>{{ key }}: </strong>{{ client.client_metadata[key] }}
  {%- endfor %}
</pre>
<hr>
{% endfor %}

<br><a href="{{ url_for('.create_client') }}">Create Client</a>

{% else %}
<form action="" method="post">
  <input type="text" name="username" placeholder="username">
  <button type="submit">Login / Signup</button>
</form>
{% endif %}
